# fastapi
# uvicorn
# python-multipart
# requests
# python-dotenv
# mcp
# supabase
# langchain
# langchain-core
# langchain-community
# langchain-experimental
# langchain-huggingface
# langchain-google-genai
# pypdf
# pymupdf
# sentence-transformers
# torch

fastapi
uvicorn
python-multipart
requests
python-dotenv
mcp
supabase
langchain
langchain-core
langchain-community
langchain-experimental
langchain-huggingface
langchain-google-genai
pypdf
pymupdf
sentence-transformers
torch
python-jose[cryptography]
passlib[bcrypt]